body {
    font-family: Arial, sans-serif;
    background-image: url('../images/background.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

h1 {
    text-align: center;
    color: #444;
}

.valign-wrapper {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: #0066cc;
}

a:hover {
    text-decoration: underline;
}

.app-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
    margin: 0 auto;
}

.app-link {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 15px;
    padding: 10px;
    margin: 10px 0;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 240px;
    box-sizing: border-box;
}

.app-link:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.app-link img {
    border-radius: 12px;
    width: 100%;
}

h2.center {
    font-size: 24px;
    text-align: center;
    color: #444;
}

.dev-info {
    text-align: left;
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

.dev-info ul {
    padding-left: 20px;
    list-style-type: none;
    margin: 0;
}
