@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
    font-family: Arial, sans-serif;
    background-image: url('../images/background.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.main-title {
    text-align: center;
    color: #444;
    margin-top: 50px;
    font-size: 48px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2.about-center {
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px;
    color: #444;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px; /* アイコンとテキストの間隔 */
    width: 1020px;
    height: 200px;
    margin: 0 auto; /* 中央揃え */
}

.profile-icon {
    flex-shrink: 0; /* アイコンのサイズを固定 */
}

.profile-text p {
    margin-left: 10px; /* 左マージンを10pxに設定 */
}

.profile-text {
    text-align: left;
    max-width: 800px;
}

.profile-text .about-list {
    padding-left: 20px;
    margin-top: 10px;
    list-style-type: none; /* 点を消す */
    display: flex; /* フレックスボックスを使用 */
    flex-direction: column; /* 縦方向に並べる */
}

.profile-text .about-list li {
    margin-bottom: 5px; /* 各行の間隔を少し開ける */
}

.valign-wrapper {
    display: flex;
    align-items: center;
}

h2.works-center {
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
    color: #444;
}

.description-text {
    text-align: center;
}

.app-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
    margin: 0 auto;
}

.app-link {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 15px;
    padding: 10px;
    margin: 10px 0;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 240px;
    box-sizing: border-box;
}

.app-link:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.app-link img {
    border-radius: 12px;
    width: 100%;
}

a {
    text-decoration: none;
    color: #0066cc;
}

a:hover {
    text-decoration: underline;
}

.dev-info {
    text-align: left;
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

.dev-info ul {
    padding-left: 20px;
    list-style-type: none;
    margin: 0;
}

.app-title {
    text-align: center;
    color: #444;
    font-size: 32px;
    font-weight: normal;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}