@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to right, #d0e1ff, #f0f8ff);
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
	width: 90%;
    width: 1200px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.main-title {
    color: #2c3e50;
    margin-top: 50px;
    font-size: 48px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2.about-center {
    font-size: 24px;
    text-align: center;
    margin-bottom: 15px;
    color: #444;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    background-color: #ecf0f1;
}

.profile-icon img {
    border-radius: 50%; /* 丸いアイコン */
    border: 2px solid #ccc; /* アイコンの枠線 */
}

.profile-text {
    text-align: left;
    flex-grow: 1;
}

.profile-text p {
    margin-left: 10px;
}

.about-list {
    padding-left: 20px;
    margin-top: 10px;
    list-style-type: none; /* 点を消す */
}

.profile-text .about-list li {
    margin-bottom: 5px; /* 各行の間隔を少し開ける */
}

.valign-wrapper {
    display: flex;
    align-items: center;
}

h2.works-center {
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0px;
    color: #444;
}

.description-text {
    text-align: center;
}

.app-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
    margin: 0 auto;
}

.app-link {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 15px;
    padding: 10px;
    margin: 10px 0;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 240px;
    box-sizing: border-box;
}

.app-link:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.app-link img {
    border-radius: 12px;
    width: 100%;
}

a {
    text-decoration: none;
    color: #0066cc;
}

a:hover {
    text-decoration: underline;
}

.dev-info {
    text-align: left;
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

.dev-info ul {
    padding-left: 20px;
    list-style-type: none;
    margin: 0;
}

.app-title {
    font-size: 32px;
    font-weight: bold;
    color: #2c3e50;
    margin-top: 40px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.app-content {
    text-align: center;
    margin-bottom: 30px;
}

.app-image {
    border-radius: 12px;
    margin: 20px 0;
}

.app-description {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

.app-links a {
    display: inline-block;
    margin: 10px 15px;
    font-size: 16px;
    color: #0066cc;
    text-decoration: none;
}

.app-links a:hover {
    text-decoration: underline;
}

.notice {
    color: red;
    font-weight: bold;
}
